/* body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.main_card {
    color: black;
    width: 760px;
    height: 390px;
    margin: 50px auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 770px;
    background: #00C9FF;
    background: whitesmoke;
    -webkit-box-shadow: 0 0 40px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.3);
}

.card_left {
    width: 100%;
}

.card_datails {
    width: 100%;
    padding: 30px;
    margin-top: -25px;
}

.card_datails h1 {
    font-size: 30px;
}

.card_right img {
    width: 250px;
    height: 390px;
    border-radius: 2px;
}

.card_right {
    border-radius: 2px;
}

.card_cat {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.PG,
.year,
.genre,
.time {
    color: black;
    padding: 10px;
    font-weight: bold;
    border-radius: 15px;
}

.PG {
    color: white;
    background: black;
    -webkit-box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
    -webkit-transition: 300ms ease-in-out;
}

.disc {
    font-weight: 100;
    line-height: 27px;
}

a {
    color: black;
    display: block;
    text-decoration: none;
}

.social-btn {
    margin-left: -10px;
    display: flex;
}

button {
    color: #fff;
    border: none;
    padding: 20px;
    outline: none;
    font-size: 12px;
    margin-top: 30px;
    margin-left: 10px;
    background: black;
    border-radius: 12px;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    -webkit-transition: 300ms ease-in-out;
    -o-transition: 200ms ease-in-out;
    transition: 200ms ease-in-out;
}

button:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.play_btn {
    height: 100%;
    margin: -394px auto;
    position: relative;
    text-align: center;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
}

.fa-play-circle {
    color: whitesmoke;
    font-size: 160px;
    margin-top: 110px;
    -webkit-animation: bounce 1.0s -0.4s infinite;
    animation: bounce 1.0s -0.4s infinite;
}

.fa-play-circle:hover {
    color: black;
    animation: bounce 0.4s infinite;
}

@-webkit-keyframes bounce {
    8% {
        transform: scale(0.3);
        -webkit-transform: scale(0.8);
        opacity: 1;
    }

    10% {
        transform: scale(1.8);
        -webkit-transform: scale2;
        opacity: 0;
    }
}

@keyframes bounce {
    8% {
        transform: scale(0.3);
        -webkit-transform: scale(0.8);
        opacity: 1;
    }

    20% {
        transform: scale(1.8);
        -webkit-transform: scale2;
        opacity: 0;
    }
}





/*  FOLLOW*/
/* .Follow {
    background: url("https://pbs.twimg.com/profile_images/959092900708544512/v4Db9QRv_bigger.jpg")no-repeat center / contain;
    width: 50px;
    height: 50px;
    bottom: 9px;
    right: 20px;
    display: block;
    position: fixed;
    border-radius: 50%;
    z-index: 999;
    animation: rotation 10s infinite linear;
}

@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(359deg);
    }
} */

.pon {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.ud {
    font-family: Arial, Helvetica, sans-serif;
}

.pot {
    width: 300px;
}

.laik {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    margin-top: 10px;
}