.poo {
    background-color: #0b0b0f;
}

.downloadd {
    border: 1px solid white;
}

.downloadd:hover {
    border: 1px solid #fff;
    background-color: #ffffff50;
}

.visionn {
    border: 1px solid white;
}

.visionn:hover {
    border: 1px solid #fff;
    background-color: #ffffff50;
}

#title {
    background-color: aqua;
}