.box{
    position: relative;
    
}

.input {
    padding: 10px;
    width: 55px;
    height: 40px;
    
    background: none;
    border: 2px solid white;
    border-radius: 20px;
    box-sizing: border-box;
    font-family: Comic Sans MS;
    font-size: 26px;
    color: #ffd52d;
    outline: none;
    transition: .5s;
}
.box:hover input{
    width: 200px;
    background: #3b3640;
    border-radius: 10px;
}

.search {
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translate(-50%,-50%);
    font-size: 26px;
    color: white;
    transition: .2s;
    
}

.premiumPackage{
    border: 1px solid white;
}

.premiumPackage:hover {
    border: 1px solid #00BFFF;
    background-color: #00BFFF;
}

.out{
  border: 1px solid white;
}

.out:hover {
  border: 1px solid red;
  background-color: red;
}
/* .box i{
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translate(-50%,-50%);
    font-size: 26px;
    color: #ffd52d;
    transition: .2s;
}
.box:hover i{
    opacity: 0;
    z-index: -1;
} */

/* YouTube icon */
#ytb {
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 52px;
  border: 2px solid transparent;
  color: #ff1717;
  font-size: 25px;
  transition: 0.3s;
}

#ytb:hover{
  border-radius: 50%;
  border-color: #ff1717;
  box-shadow: 0 0 10px #ff4040;
}

/* .scrollbar {
    height: 200px;
    overflow-y: scroll;
  }
  .scrollbar::-webkit-scrollbar {
    background-color: transparent;
    width: 0px;
  }
  .scrollbar:hover::-webkit-scrollbar {
    width: 8px;
  }
  .scrollbar:hover::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.1);
  }
  @media (hover: none) {
    .scrollbar::-webkit-scrollbar {
      width: 8px;
    }
    .scrollbar::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, 0.2);
    }
  } */

 .scrollbar
{
	float: left;
	height: 300px;
	background: white;
	overflow-y: scroll;
}

.force-overflow
{
	min-height: 450px;
} 

#style-1::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar
{
	width: 12px;
	background-color: darkblue;
}

#style-1::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: darkblue;
} 
